.container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  min-height: 100vh;
  padding: 20px; /* Espaciado interno para el contenido */
} 

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px; 
  padding: 15px; 
  border: 1px solid #ccc; /* Opcional: agrega un borde */
  border-radius: 4px; /* Esquinas redondeadas */
  background-color: #f9f9f9; 
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  margin-bottom: 15px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

h1 {

  text-align: center;
  margin-bottom: 20px;
}   
